In [22]:
age=32
if age>30:
    print(age)
print(age)

32
32

In [23]:
## single line comment
print("Hello world")
print('hello world')

Hello world
hello world

In [24]:
#line continuiation
total=1+2+3+4+5+\
    4+5+6
print(total)

30

In [25]:
## multiple
x=5;y=10;z=x+y
print(z)

15

In [26]:
##symantics in python
#variable asiignment
age=32 ##integer
name="sjnd" ##string

In [27]:

type(age)

int

In [28]:
## type inference
variable=10
print(type(variable))
variable="asjd"
print(type(variable))

<class 'int'>
<class 'str'>

In [29]:
if age>30:
 print(age)

32

In [30]:
a=b

In [31]:
## code example of intendation
if True:
    print("correct")
    if False:
        print("outside wont")
    print("thisio will")
print("outside the if")

correct
thisio will
outside the if

In [32]:
a=3
print(type(a))
age_str=str(a)
print(age_str)
type(age_str)

<class 'int'>
3

str

In [33]:
var=10
print(var,type(var))
var="Hello"
print(var,type(var))
var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [34]:
age=int(input("what is the age"))
print(age,type(age))

KeyboardInterrupt: Interrupted by user

In [ ]:
num1=int(input("enter number 1"))
num2=int(input("enter number 2"))
operation=int(input("1.Addition\n2.subraction\n3.multiplication\n4.division"))
if(operation==1):
 print(num1+num2)   
elif(operation==2):
 print(num1-num2)
elif(operation==3):
 print(num1*num2)   
elif(operation==4):
 print(num1/num2)   
else:
 print("invalid")

782

In [ ]:
istrue=True
type(istrue)

bool

In [ ]:
result="Hello" + str(5)
print(result)

Hello5

In [ ]:
a=str.count("bennasdmasd")
print(a)

TypeError: count expected at least 1 argument, got 0

In [ ]:
##arithematic operation
a=10
b=5
add_res=a+b
mul_res=a*b
div_res=a/b
sub_res=a-b
floor_div_res=a//b
mod_res=a%b
exp_res=a**b
print(add_res)
print(mul_res)
print(div_res)
print(sub_res)
print(floor_div_res)
print(mod_res)
print(exp_res)

15
50
2.0
5
2
0
100000

In [ ]:
a=345//223
print(a)

1

In [ ]:
a=5
a=3
a==b
a!=b

True

In [ ]:
str1="Krish"
str2="Krish"
str1==str2
str1!=str2

False

In [ ]:
a=True
b=True
result=a and b
print(result)

True

In [36]:
a=True
b=False
result=a or b
print(result)

True

In [37]:
num=int(input("Enter the number"))
if num>0:
    print("the number is positive")
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")
else:
    print("number is zero or negative")

the number is positive
the number is odd

In [3]:
year=int(input("eNTER THE YEAR"))
if year%4==0:
   if year%100==0:
       if year%400==0:
          print("the year is leap one")
       else:
          print("the year is not leap one")
   else:
      print("the year is leap one")
else:
   print("the year is not leap one")

the year is not leap one

In [4]:
range(5)

range(0, 5)

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
for i in range(12,0,-2):
   print(i)

12
10
8
6
4
2

In [25]:
str="Bens Basil"
for i in str:
    print(i)

B
e
n
s

B
a
s
i
l

In [26]:
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [30]:
count=0
while count%2==0:
 print(count)
 count=count+1

0

In [33]:
for i in range(10):
    if i==5:
       break
    print(i)

0
1
2
3
4

In [35]:
for i in range(10):
    if i%2==0:
       continue
    print(i)

1
3
5
7
9

In [38]:
for i in range(5):
    if i==3:
        
        pass
    print(i)

0
1
2
3
4

In [39]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [41]:
n=10
sum=0
count=1
while count<=n:
   sum=sum+count
   count=count+1
print("sum of first n natural nos: ",sum)

sum of first n natural nos:  55

In [45]:
sum=0
for i in range(11):
    sum=sum+i
print("sum: ",sum)

sum:  55

In [48]:
names=["bens","hari",1,2,3,True]
print(names)

['bens', 'hari', 1, 2, 3, True]

In [75]:
fruits=["mango","apple","banana","cherry","pineapple"]

In [ ]:

print(fruits)

['mango', 'watermelon', 'banana', 'cherry', 'pineapple']

In [66]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

mango
banana
pineapple
pineapple

In [67]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[1:-1])
print(fruits[-3:-1])

['watermelon', 'banana', 'cherry', 'pineapple']
['watermelon', 'banana']
['watermelon', 'banana', 'cherry']
['banana', 'cherry']

In [76]:

print(fruits)

['mango', 'apple', 'banana', 'cherry', 'pineapple']

In [77]:
fruits.append("orange")
print(fruits)

['mango', 'apple', 'banana', 'cherry', 'pineapple', 'orange']

In [78]:
fruits.remove("pineapple")
print(fruits)

['mango', 'apple', 'banana', 'cherry', 'orange']

In [79]:
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['mango', 'apple', 'banana', 'cherry']

In [80]:
index=fruits.index("cherry")
print(index)

3

In [85]:
fruits.insert(2,"banana")

print(fruits.count("banana"))

6

In [87]:
fruits.sort()
print(fruits)

['apple', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'cherry', 'mango', 'watermelon']

In [88]:
fruits.reverse()
print(fruits)

['watermelon', 'mango', 'cherry', 'banana', 'banana', 'banana', 'banana', 'banana', 'banana', 'apple']

In [89]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::5])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [3]:
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [16]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [17]:
list1=[1,2,3,4]
list2=['a','b','c','d']
pair=[{i,j} for i in list1 for j in list2]

print(pair)

[{1, 'a'}, {1, 'b'}, {1, 'c'}, {1, 'd'}, {2, 'a'}, {2, 'b'}, {2, 'c'}, {2, 'd'}, {'a', 3}, {3, 'b'}, {3, 'c'}, {3, 'd'}, {'a', 4}, {'b', 4}, {4, 'c'}, {4, 'd'}]

In [19]:
words=["bens","python","umberalla","chemistry","tvm"]
length=[len(x) for x in words]
print(length)

[4, 6, 9, 9, 3]

In [21]:
num=[1,2,3,4,5,6,7,8]
result=["even" if n%2==0 else "odd" for n in num]
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [22]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [23]:
list=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [24]:
num=tuple([1,2,3,4,5,6,7])
num

(1, 2, 3, 4, 5, 6, 7)

In [25]:
mixed_tuple=(1,"Hello Woeld",3.14,True)
print(mixed_tuple)

(1, 'Hello Woeld', 3.14, True)

In [26]:
num

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
print(num[2])
print(num[-1])
print(num[1:])
print(num[:5])
print(num[::-1])
print(num[:2:])

3
7
(2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5)
(7, 6, 5, 4, 3, 2, 1)
(1, 2)

In [34]:
conca_tuple=num+mixed_tuple
print(conca_tuple)

(1, 2, 3, 4, 5, 6, 7, 1, 'Hello Woeld', 3.14, True)

In [32]:
mixed_tuple * 3

(1,
 'Hello Woeld',
 3.14,
 True,
 1,
 'Hello Woeld',
 3.14,
 True,
 1,
 'Hello Woeld',
 3.14,
 True)

In [35]:
lst=[1,2,3,4,5,6]
print(lst)

lst[1]="krish"
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 'krish', 3, 4, 5, 6]

In [36]:
num[1]="krish"

TypeError: 'tuple' object does not support item assignment

In [38]:
num.count(5)

1

In [39]:
num.index(6)

5

In [40]:
packed_tuple=1,"Hello",3.13
print(packed_tuple)

(1, 'Hello', 3.13)

In [48]:
#unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.13

In [52]:
#unpacking with star
nums=(1,2,3,4,5,6,7,8,9)
first,end,*_=nums
print(first)
print(end)

1
2

In [56]:
lst=[[1,2,34,5,6],["bens",3.14,1,True],[0,True,False]]
lst[0][:3]

[1, 2, 34]

In [57]:
lst=[[1,2,34,5,6],["bens",3.14,1,True],(0,True,False)]
lst[2][0:3]

(0, True, False)

In [60]:
nested_tuple=((1,2,34,5,6),("bens",3.14,1,True),(0,True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 34, 5, 6)
1

In [64]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print(item)

1 2 34 5 6 6
bens 3.14 1 True True
0 True False False

In [79]:
##CREATE A SET
my_set={1,2,3,5,6,7}
print(my_set)
print(type(my_set))

{1, 2, 3, 5, 6, 7}
<class 'set'>

In [66]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [70]:
my_empty_set=set([1,2,3,4,5,6,6,7,7,7,7,5,6,7])
print(my_empty_set)

{1, 2, 3, 4, 5, 6, 7}

In [71]:
#set operations
#adding and removing
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [72]:
my_set.remove(3)
print(my_set)

{1, 2, 5, 6, 7}

In [74]:
my_set.remove(10)

KeyError: 10

In [75]:
my_set.discard(11)
print(my_set)

{1, 2, 5, 6, 7}

In [80]:
my_set.pop()
print(my_set)

{2, 3, 5, 6, 7}

In [81]:
my_set.clear()
print(my_set)

set()

In [82]:
##set membership test
my_set={1,2,3,5,6,7}
print(3 in my_set)
print(10 in my_set)

True
False

In [87]:
set1={1,2,3,4,5,6,7,8}
set2={3,4,5,6,7,8,9,10}
union_set=set1.union(set2)
print(union_set)

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8}
{3, 4, 5, 6, 7, 8}

In [93]:
set1={1,2,3,4,5,6,7,8}
set2={3,4,5,6,7,8,9,10}

##differnce
print(set1.difference(set2))

print(set2.difference(set1))
print(set2)

{1, 2}
{9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}

In [98]:
set1.symmetric_difference(set2)

{1, 2, 9, 10}

In [97]:
set2.symmetric_difference(set1)

{1, 2, 9, 10}

In [104]:
set1={1,2,3,4,5}
set2={3,4,5}
print(set1.issubset(set2))
print(set1.issuperset(set2))
print(set1.isdisjoint(set2))

False
True
False

In [107]:
lst=[1,2,3,4,3,4,4,5,5,6,5,6,7,8]
set(lst)

{1, 2, 3, 4, 5, 6, 7, 8}

In [108]:
##counting unique words in text

text="in this tutorial we are discussing about sets"
words=text.split()

## covert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'this', 'sets', 'tutorial', 'are', 'in', 'we', 'discussing'}
8

In [4]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [5]:
empty_dict=dict()
empty_dict

{}

In [8]:
student={"name":"bens","age":32,"grade":24,"name":33}
print(student)
print(type(student))

{'name': 33, 'age': 32, 'grade': 24}
<class 'dict'>

In [5]:
student={"name":"bens","age":32,"grade":'A'}
print(student)

{'name': 'bens', 'age': 32, 'grade': 'A'}

In [4]:
print(student['grade'])
print(student['age'])

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not available"))

NameError: name 'student' is not defined

In [26]:
print(student)

{'name': 'bens', 'age': 32, 'grade': 'A'}

In [27]:
student["age"]=33 ##updated 
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'bens', 'age': 33, 'grade': 'A'}
{'name': 'bens', 'age': 33, 'grade': 'A', 'address': 'India'}

In [15]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'bens', 'age': 33, 'address': 'India'}

In [28]:
## dictionary methods

keys=student.keys()
print(keys)
values=student.values()
print(values)

items=student.items()
print(items)

dict_keys(['name', 'age', 'grade', 'address'])
dict_values(['bens', 33, 'A', 'India'])
dict_items([('name', 'bens'), ('age', 33), ('grade', 'A'), ('address', 'India')])

In [22]:
##shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'krish', 'age': 33, 'address': 'India'}
{'name': 'krish', 'age': 33, 'address': 'India'}

In [3]:
student["name"]="krish"
print(student)
print(student_copy)

NameError: name 'student' is not defined

In [32]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'krish', 'age': 33, 'grade': 'A', 'address': 'India'}
{'name': 'krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [2]:
student["name"]="bistto"
print(student_copy1)
print(student)

NameError: name 'student' is not defined

In [6]:
for keys in student.keys():
    print(keys)

name
age
grade

In [7]:
for values in student.values():
    print(values)

bens
32
A

In [10]:
for key,value in student.items():
    print(f"{key}:{value}")

name:bens
age:32
grade:A

In [11]:
students={
        "student1":{"name":"krish","age":32},
        "student2":{"name":"bens","age":35}
}
print(students)

{'student1': {'name': 'krish', 'age': 32}, 'student2': {'name': 'bens', 'age': 35}}

In [13]:
print(students["student2"]["name"])
print(students["student2"]["age"])

bens
35

In [14]:
students.items()

dict_items([('student1', {'name': 'krish', 'age': 32}), ('student2', {'name': 'bens', 'age': 35})])

In [17]:
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'krish', 'age': 32}
name:krish
age:32
student2:{'name': 'bens', 'age': 35}
name:bens
age:35

In [18]:
## dict comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [19]:
## condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [20]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [21]:
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [26]:
to_do_list=["Buy Groceries","Clean the house","Pay bills"]

## adding to task
to_do_list.append("Schedule meeting")
to_do_list.append("Go for a Run")

#Remove a completed task
to_do_list.remove("Clean the house")

## checking if a task is in the list
if "Pay bills" in to_do_list:
    print("Dont forget to pay the utility bills")

print("To do list remaining")
for task in to_do_list:
    print(f"-{task}")

Dont forget to pay the utility bills
To do list remaining
-Buy Groceries
-Pay bills
-Schedule meeting
-Go for a Run

In [27]:
grades=[85,92,78,90,88]

grades.append(95)

average_grade=sum(grades)/len(grades)
print(f"Average grades: {average_grade:.2f}")

highest_grade=max(grades)
lowest_grade=min(grades)
print(f"Highest grade:{highest_grade}")
print(f"Lowest grade:{lowest_grade}")

Average grades: 88.00
Highest grade:95
Lowest grade:78

In [29]:
inventory=["apples","bananas","oranges","grapes"]

inventory.append("strawberries")

inventory.remove("bananas")

item="oranges"
if item in inventory:
    print(f"{item} are in stock.")
else:
    print(f"{item} are out of stock")

#printing the inventory
print("inventory list")
for item in inventory:
    print(f"-{item}")

oranges are in stock.
inventory list
-apples
-oranges
-grapes
-strawberries

In [31]:
##user feedback

feedback=["Great service!","Very Satisfied","could be better","Excellent experience"]

##adding new feedback
feedback.append("not happy with the service")
feedback.append("great as always")
##counting specific feedback

positive_feedback_count=sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())

print(f"Positive Feedback count: {positive_feedback_count}")
for x in feedback:
    print(f"-{x}")

Positive Feedback count: 3
-Great service!
-Very Satisfied
-could be better
-Excellent experience
-not happy with the service
-great as always

In [ ]:
def funtion_name(parameters):
    """Docstring"""
    #function body
    return expression

In [32]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [33]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [34]:
even_or_odd(67)

the number is odd

In [36]:
def add(a,b):
  return a+b

result=add(4,8)
print(result)

12

In [ ]:
def greet(name):
    print(f"Hello {name}")

greet("Bens")

Hello Bens

In [40]:
def greet(name="Guest"):
    print(f"Hello {name}")

greet("Bens")

Hello Bens

In [49]:
### Variable Length Arguments
## Positional and Keywords arguments

def print_numbers(*args):
    for number in args:
        print(number)

In [48]:
print_numbers(1,2,4,5,6,7,8,9,5,"krish")

1
2
4
5
6
7
8
9
5
krish

In [50]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [51]:
print_details(name="Krish",age=32,country="india")

name:Krish
age:32
country:india

In [60]:
def print_details(*args,**kwargs):
      
    for key,value in kwargs.items():
        print(f"{key}:{value}")
    for val in args:
        print(f"Postional argument :{val}")

In [57]:
print_details(1,2,4,5,6,"krish",name="Krish",age=32,country="india")

Postional argument :1
Postional argument :2
Postional argument :4
Postional argument :5
Postional argument :6
Postional argument :krish
name:Krish
age:32
country:india

In [ ]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

In [62]:
def convert_temperature(temp,unit):
    """This function converts temperature between celsius and fahrenheit"""
    if unit=='C':
        return temp * 9/5 +32
    elif unit=='F':
        return (temp-32)*5/9
    else:
        return None
    
print(convert_temperature(25,'C'))
print(convert_temperature(77,'F'))

77.0
25.0

In [69]:
def password_checker(passw):
    """password checker"""
    if len(passw)<8:
      return False
    if not any(char.isdigit() for char in passw): 
      return False
    if not any(char.islower() for char in passw):
       return False
    if not any(char.isupper() for char in passw):
       return False
    if not any(char in '!@#$%^&*()_+' for char in passw):
       return False
    return True

##calling the function
print(password_checker("WeakPwd"))
print(password_checker("Str0ngPwd!"))

False
True

In [1]:
def calculated_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']* item['quantity']
    return total_cost
##Example cart data


cart=[
      {'name':'Apple','price':0.5,'quantity':4},
      {'name':'Banana','price':0.3,'quantity':6},
      {'name':'Orange','price':0.7,'quantity':3}
    ]

total_cost=calculated_total_cost(cart)
print(total_cost)

5.8999999999999995

In [2]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

In [5]:
def factorial(n):
    if n==0:
       return 1
    else:
     return n*factorial(n-1)
    
print(factorial(6))

720

In [17]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?:;"\'')
                word_count[word]=word_count.get(word,0)+1
    
    for word, count in word_count.items():
        print(word, ":", count)


    
    return word_count

filepath='sample_bistto.txt'
word_frequency=count_word_frequency(filepath)

# : 1
siec : 35
calicut : 49
branch : 20
- : 27
30 : 10
walk-ins : 27
monthly : 2
strategy : 3
*digital : 1
marketing : 4
action : 1
plan : 3
| : 51
october : 2
2025* : 1
## : 14
executive : 1
summary : 1
*goal:* : 1
qualified : 2
per : 15
month : 3
to : 34
*strategy:* : 1
online-only : 1
through : 3
meta : 6
platforms : 1
(facebook/instagram) : 2
+ : 10
whatsapp : 18
*budget:* : 2
30,000-50,000/month : 1
(?1,000-1,667 : 1
walk-in) : 1
*timeline:* : 1
4-week : 1
tactical : 2
campaign : 11
with : 14
weekly : 8
targets : 3
* : 26
math : 1
& : 6
benchmarks : 1
### : 28
conversion : 3
funnel : 1
 : 282
*required : 1
engaged : 6
leads:* : 1
600-1,500/month : 1
*lead-to-walk-in : 1
rate:* : 1
2-5% : 1
(industry : 1
standard) : 1
*daily : 3
walk-in : 16
target:* : 1
1 : 22
day : 7
average : 1
*weekly : 4
breakdown:* : 1
5-9 : 1
week : 25
budget : 8
allocation : 1
ads : 8
25,000 : 1
(80%) : 1
tools : 2
3,000 : 1
(10%) : 2
content : 12
creation/tools : 1
2,000 : 2
week-by-week : 1
*week : 8
foundation : 1
event-driven : 1
campaign* : 3
*target : 5
5-7 : 3
walk-ins* : 5
#### : 5
setup : 2
(day : 9
1-2) : 1
*meta : 1
structure:* : 1
*ad : 4
set : 8
students : 15
(17-21)* : 1
interests : 5
ielts : 7
study : 11
abroad : 11
universities : 4
300/day : 3
radius : 8
10km : 2
around : 5
2 : 14
young : 1
graduates : 1
(22-25)* : 1
career : 3
advancement : 1
international : 1
jobs : 1
3 : 9
parents : 4
(40-55)* : 1
education : 7
planning : 8
parenting : 2
15km : 3
launch : 1
3-7) : 1
*offer:* : 5
free : 12
australia : 2
fair : 1
this : 21
saturday : 4
at : 19
*key : 1
elements:* : 1
limited : 5
only : 12
meet : 3
university : 6
representatives : 1
on-spot : 1
profile : 7
evaluation : 5
entry : 1
registration : 3
formats:* : 1
instagram : 20
stories : 13
countdown : 2
stickers : 1
facebook : 8
carousel : 3
showing : 3
4 : 5
attending : 1
click-to-chat : 1
cta : 4
reserve : 1
your : 23
spot : 1
*follow-up : 2
sequence:* : 2
immediate : 1
confirmation : 1
via : 1
before : 6
reminder : 5
location : 12
pin : 4
hours : 9
final : 4
see : 1
you : 19
soon : 1
*expected : 6
results:* : 4
registrations : 1
15-20 : 2
actual : 2
(30-35% : 1
show-up : 2
rate) : 2
direct : 3
incentive* : 1
7-9 : 2
8-14) : 1
premium : 3
prep : 2
kit : 2
(?5,000 : 1
value) : 3
*value : 3
bundle : 1
includes:* : 1
digital : 1
materials : 1
practice : 1
test : 1
access : 2
1-on-1 : 2
session : 2
score : 1
improvement : 1
tips : 1
*targeting : 1
strategy:* : 3
retarget : 1
engagers : 1
who : 3
didn't : 4
register : 1
fresh : 2
audience : 4
ielts/pte : 2
preparation : 2
lookalike : 1
from : 13
existing : 1
*creative : 2
assets:* : 2
*instagram : 2
stories:* : 1
15-sec : 1
video : 3
contents : 1
sticker : 1
5 : 8
days : 4
left : 3
swipe : 1
up : 2
message : 3
*facebook : 1
feed:* : 2
before/after : 1
scores : 1
student : 13
testimonials : 4
walk : 8
in : 34
today : 10
button : 2
reels:* : 1
manglish : 3
testimonial : 6
(30 : 2
sec) : 1
caption : 4
inte : 2
help : 2
kond : 1
7.5 : 1
bands : 1
kitty : 1
 : 18
trending : 2
audio : 1
local : 3
hashtags : 1
*call-to-action : 1
protocol:* : 1
when : 6
prospects : 3
call/message : 1
kits : 2
available : 2
8 : 1
can : 7
visit : 9
or : 18
tomorrow : 4
we're : 7
open : 8
until : 7
7 : 5
pm : 11
bring : 8
academic : 1
documents : 1
for : 28
instant : 1
check : 2
leads : 8
(calls/whatsapp) : 1
40-50 : 1
parent : 4
targeting : 4
6-8 : 4
15-21) : 1
guide : 4
consultation : 10
*session : 1
topics:* : 1
total : 2
cost : 2
breakdown : 2
(tuition : 1
living) : 1
roi : 2
analysis : 2
by : 6
country : 3
safety : 3
and : 15
welfare : 1
part-time : 1
work : 2
pr : 2
pathways : 2
loan : 2
guidance : 2
*targeting:* : 1
age : 1
40-55 : 2
investment : 1
language : 1
malayalam : 3
english : 2
*video : 1
ad : 11
seconds):* : 1
counselor : 4
addressing : 1
concerns : 2
key : 2
questions : 3
paisa : 1
waste : 1
aavumo : 1
safe : 1
aano : 1
job : 1
kitumo : 1
reassuring : 1
tone : 2
facts : 1
figures : 1
book : 2
*lead : 1
form : 3
fields:* : 1
name : 3
preferred : 2
destination : 1
(dropdown) : 1
time : 4
slot : 2
(morning : 1
10-12 : 3
/ : 1
evening : 4
5-7) : 1
phone : 4
number : 2
(whatsapp) : 1
*appointment : 1
confirmation:* : 1
auto : 1
confirmed : 1
on : 13
[date] : 1
[time] : 4
include : 2
address : 4
google : 4
maps : 2
link : 2
what : 3
student's : 1
mark : 3
sheets : 3
passport : 1
(if : 4
available) : 1
*reminder : 1
system:* : 1
looking : 1
forward : 1
meeting : 2
personal : 3
call : 2
reduces : 1
no-shows : 1
40% : 2
15% : 1
scheduled : 3
appointments : 3
25-30 : 2
(75% : 1
retargeting : 1
push* : 1
22-30) : 1
know : 3
admission : 1
chances : 1
*what : 2
get:* : 1
eligibility : 1
assessment : 1
scholarship : 6
opportunity : 1
suitable : 1
recommendations : 1
application : 5
timeline : 3
document : 2
checklist : 3
*retargeting : 1
*audience : 1
segments:* : 1
1-3 : 1
but : 4
convert : 3
visited : 2
website : 3
fill : 1
started : 1
conversation : 2
viewed : 1
(stories/reels) : 1
*multi-touch : 2
*touch : 4
22) : 1
story:* : 1
walked : 1
into : 3
zero : 1
hope : 1
they : 4
found : 1
me : 1
$15,000 : 1
15-second : 2
format : 1
tap : 1
24) : 1
image : 2
friendly : 1
team : 6
photo : 3
6 : 1
welcome : 2
no : 3
appointment : 2
needed : 4
mention : 3
monday-saturday : 1
9 : 2
am-7 : 1
26-27) : 1
message:* : 1
template : 2
hi : 2
[name] : 3
i : 3
noticed : 2
were : 1
interested : 2
studying : 4
[country] : 4
our : 7
is : 6
if : 5
you'd : 2
like : 4
discuss : 2
options : 2
works : 1
best : 4
weekday : 2
weekend : 6
28-30) : 1
sprint:* : 1
reels : 2
takeover : 2
last : 1
sunday : 2
extended : 6
10 : 4
am-6 : 2
*conversion : 1
tactics:* : 1
we : 6
have : 5
a : 8
30-minute : 1
shall : 1
block : 1
it : 3
just : 3
other : 1
coffee : 1
us : 2
come : 2
chat : 2
about : 8
plans : 1
re-engaged : 1
50-60 : 1
high-impact : 1
specific : 2
tactics : 1
*1 : 3
geo-fenced : 1
story : 4
ads* : 1
200-300/day : 1
*setup:* : 1
3-5km : 1
recent : 3
(currently : 1
nearby : 2
recently) : 1
*creative:* : 1
you're : 2
near : 2
now : 1
displayed : 1
prominently : 1
get : 6
directions : 1
(opens : 1
maps) : 1
*impact:* : 2
people : 1
physically : 1
within : 5
10-15 : 1
minutes : 4
*expected:* : 6
2-3 : 3
*2 : 3
broadcast : 5
strategy* : 3
*existing : 1
database : 2
activation:* : 1
past : 1
inquiries : 2
event : 1
attendees : 1
visitors : 2
shared : 2
numbers : 1
schedule:* : 2
*monday:* : 3
search : 4
assistance : 1
*wednesday:* : 3
quick : 4
every : 9
perfect : 1
after-college : 1
visits : 1
*saturday:* : 2
am-4 : 1
friend : 2
both : 4
rule:* : 2
respond : 4
reply : 3
not : 8
automated : 2
confirm : 1
immediately : 1
2-4 : 1
*3 : 3
tag : 4
activity : 2
(15 : 1
minutes):* : 1
*content : 4
post:* : 1
videos : 2
the : 2
life : 1
introductions : 1
update : 2
shares : 1
announcements : 1
visa : 3
approval : 1
celebrations : 1
*location : 1
tagging:* : 1
always : 3
use : 5
encourage : 1
share : 7
repost : 1
account : 3
*discovery : 1
benefit:* : 1
active : 5
appears : 1
posts : 5
1-2 : 3
organic : 1
*4 : 3
community : 3
engagement* : 1
*join : 1
groups:* : 1
forum : 1
kerala : 2
kozhikode : 4
network : 2
of : 6
alumni : 1
college-specific : 1
groups : 2
(medical : 1
college : 4
engineering : 1
colleges) : 1
plan:* : 1
valuable : 2
(not : 1
promotional) : 1
things : 1
canada : 2
2026 : 2
germany : 1
public : 1
complete : 1
infographic : 2
answer : 2
genuinely : 1
queries : 1
admissions : 1
visas : 1
costs : 2
provide : 1
helpful : 2
information : 1
freely : 1
build : 2
trust : 3
credibility : 1
*friday:* : 2
subtle : 1
happy : 1
detail : 1
anyone : 2
wants : 1
drop : 4
[address] : 2
personalized : 2
*rules:* : 1
give : 1
value : 2
first : 2
promote : 2
second : 1
never : 3
spam : 1
relationships : 1
over : 1
transactions : 1
*5 : 3
micro-influencer : 1
collaboration* : 1
influencers : 1
(5,000-20,000 : 1
followers : 1
calicut):* : 1
currently : 1
trainers : 1
seniors : 1
followings : 1
creators : 1
*collaboration : 1
model:* : 1
*option : 2
barter:* : 1
services : 2
their : 3
juniors/followers : 1
exchange : 1
authentic : 2
minimal : 1
payment:* : 1
2,000-3,000 : 1
influencer : 2
posts/stories : 1
brief:* : 1
counselors : 2
genuine : 4
experience : 2
example : 3
guys : 1
super : 1
aayirunnu : 1
enkilum : 1
onnu : 1
cheyyuka : 1
*platform:* : 1
reel : 4
3-5 : 1
geo-targeting : 2
*step-by-step : 1
configuration* : 1
manager* : 1
go : 1
business.facebook.com : 1
click : 3
create : 2
new : 3
choose : 1
objective : 1
lead : 2
generation : 1
traffic : 1
level : 1
setup* : 1
navigate : 1
controls : 1
locations : 1
remove : 1
default : 2
india : 1
define : 1
geofence* : 1
10-15km : 2
general : 1
campaigns : 4
feature : 1
precision : 1
method : 2
(advanced)* : 1
map : 1
icon : 1
settings : 1
exactly : 1
adjust : 2
slider : 1
(5km : 1
hyper-local : 1
broader) : 1
refinement* : 1
living : 1
recently : 1
exclusions : 1
getting : 1
cities : 1
exclude : 1
malappuram : 1
kannur : 1
calicut-only : 1
desired : 1
*6 : 1
additional : 1
layers* : 1
*age:* : 1
17-24 : 1
(students) : 1
(parents) : 1
*language:* : 1
*interests:* : 1
countries : 1
*behaviors:* : 1
grads : 1
shoppers : 1
*7 : 1
location-specific : 1
copy* : 1
start : 1
journey : 2
*8 : 1
add : 1
references* : 1
medical : 1
road : 1
opposite : 1
[landmark] : 1
exact : 1
performance : 2
tracking : 3
*monitor : 1
monday:* : 1
*metric* : 1
1* : 1
2* : 1
3* : 1
4* : 1
*monthly : 1
total* : 1
|------------|------------|------------|------------|------------|-------------------| : 1
60-80 : 1
70-90 : 1
80-100 : 1
90-120 : 1
300-390 : 1
20-25 : 1
30-35 : 1
35-40 : 1
110-130 : 1
calls : 1
12-15 : 2
15-18 : 1
52-65 : 1
8-10 : 1
35-44 : 1
*actual : 1
*5-7* : 1
*7-9* : 1
*6-8* : 2
*30* : 1
1,071-1,500 : 1
833-1,071 : 1
938-1,250 : 2
1,000-1,667 : 1
track:* : 1
which : 2
sets : 2
perform : 1
peak : 1
inquiry : 1
times : 2
(adjust : 1
scheduling) : 2
geo-location : 1
(which : 1
areas : 1
best) : 1
type : 1
(video : 3
vs : 2
carousel) : 1
source : 1
attribution : 2
("how : 2
did : 4
hear : 3
us?") : 2
optimization : 1
protocols : 1
*immediate : 3
response : 4
system* : 1
*5-minute : 1
all : 3
increases : 1
400% : 1
business : 7
replies : 1
*response : 2
templates:* : 1
*for : 5
inquiries:* : 1
thanks : 3
interest : 1
i'm : 1
[counselor : 1
name] : 1
would : 2
calls:* : 1
great : 1
slots : 2
i'll : 2
personally : 3
handle : 2
submissions:* : 1
registering : 1
[offer] : 1
ready : 3
expect : 1
*friction : 2
reduction : 1
tactics* : 1
*make : 1
effortless:* : 1
require : 1
online : 2
accept : 1
without : 1
display : 1
clear : 2
*remove : 1
hesitation:* : 1
commitment : 1
required : 1
nothing : 1
else : 1
100% : 1
has : 1
been : 1
will : 1
be : 1
advocates : 1
salespeople : 1
*urgency : 2
creation : 2
(without : 1
discounts)* : 1
*time-limited : 1
availability:* : 1
january : 1
intake : 2
counseling : 1
immigration : 1
expert : 1
friday : 2
remaining : 1
*event-based : 1
urgency:* : 1
deadlines : 1
approaching : 1
season : 1
early : 1
recommended : 1
*scarcity : 1
(honest):* : 2
take : 2
maintain : 1
quality : 1
seats : 1
group : 1
contingency : 1
below : 1
target) : 1
*if : 1
fewer : 1
than : 2
12 : 1
end : 1
2:* : 1
actions:* : 1
reallocation : 1
(same : 1
day)* : 1
increase : 1
30-50% : 1
best-performing : 1
pause : 1
underperforming : 1
redirect : 1
spend : 1
what's : 1
working : 2
emergency : 1
drive : 1
(launch : 1
friday)* : 1
*weekend : 1
blitz : 1
campaign:* : 1
special : 3
benefits : 1
receive : 1
(?3,000 : 1
senior : 1
45-minute : 1
refreshments : 1
*promotion:* : 1
flash : 1
friday-saturday : 1
calling : 1
top : 2
50 : 1
script : 1
seriously : 1
i'd : 1
love : 1
case : 1
conversational : 1
salesy : 1
hours* : 1
thursday : 1
heavily : 1
can't : 1
make : 2
during : 1
late : 1
referral : 3
activation* : 1
contact : 1
them : 1
offer : 4
cash : 1
incentives : 1
success : 5
multipliers : 1
*photo : 1
wall : 1
*implementation:* : 1
visitor : 1
(with : 2
permission) : 2
branded : 2
backdrop : 1
entrance : 1
thank : 1
visiting : 3
frame : 1
*social : 3
media : 2
usage:* : 1
post : 5
daily : 3
wishes : 1
instagram) : 1
creates : 2
social : 2
proof : 2
shows : 2
generates : 1
fomo : 1
among : 1
previous : 1
*same-day : 1
collection* : 1
*process:* : 1
leaves : 1
went : 1
well) : 1
mind : 1
sharing : 1
record : 1
yours : 1
ask : 2
*usage:* : 1
reels/stories : 1
unpolished : 1
geotag : 1
feedback : 1
today's : 1
impact:* : 1
3x : 1
better : 2
staged : 1
ones : 1
same-day : 1
posting : 2
trustworthy : 1
*walk-in : 1
bonus* : 1
*offer : 1
given : 1
walk-in:* : 1
loved : 1
service : 1
(?4,000 : 1
combined : 1
*how : 1
works:* : 1
converts : 1
word-of-mouth : 1
satisfied : 1
time-limited : 1
(this : 1
only) : 1
urgency : 1
*tracking:* : 1
someone : 1
refer : 1
reward : 1
parties : 1
together : 1
separately : 1
20-30% : 1
factors : 1
*critical : 1
elements : 1
walk-ins:* : 1
speed:* : 1
*geo-precision:* : 1
target : 1
*value-first : 2
messaging:* : 1
discounts : 2
add-ons : 1
retargeting:* : 1
engage : 1
3-4 : 2
removal:* : 1
walking : 1
as : 2
easy : 2
possible : 1
*personal : 2
touch:* : 1
human : 1
responses : 1
*consistent : 2
tracking:* : 1
monitor : 1
*local : 1
language:* : 1
performs : 1
proof:* : 2
real : 1
availability : 1
fake : 1
scarcity : 1
calendar : 1
feed : 6
educational : 1
(university : 1
spotlight) : 1
recap : 1
week's : 2
blog : 1
news : 1
*tuesday:* : 1
office : 1
culture : 1
tip : 1
30-sec : 1
(manglish) : 1
same : 1
repurposed : 1
engagement : 2
*thursday:* : 1
(visa : 1
process/scholarships) : 1
behind-the-scenes : 1
introduction : 1
mid-week : 1
roundup : 1
topic : 1
live : 1
coverage : 1
consultations : 1
real-time : 1
q&a : 1
sessions : 1
*sunday:* : 1
inspirational/motivational : 1
next : 2
messaging : 1
frameworks : 1
(17-24 : 1
years):* : 2
*hook:* : 2
relatable : 1
pain : 1
point : 1
confused : 1
suits : 1
goals : 1
proposition:* : 2
benefit : 1
comparison : 1
based : 2
generic : 1
advice : 1
peer : 1
validation : 1
500+ : 1
already : 1
*cta:* : 2
step : 1
dm : 1
(40-55 : 1
directly : 1
worried : 1
child's : 1
security : 1
understand : 2
true : 1
measures : 1
*authority:* : 1
building : 1
30+ : 1
years : 1
overseas : 1
gold-rated : 1
respectful : 1
invitation : 1
convenience : 1
major : 1
decision : 1
resources : 1
*essential : 1
tools:* : 1
*free:* : 1
(lead : 1
management) : 2
suite : 1
(ad : 1
analytics : 1
(website : 1
tracking) : 2
canva : 2
(content : 1
creation) : 1
capcut : 1
editing) : 1
*paid : 1
(optional : 1
recommended):* : 1
pro : 1
500/month : 1
(branded : 1
templates) : 1
later : 1
buffer : 1
600/month : 1
(social : 1
callrail : 1
similar : 1
1,500/month : 1
(call : 1
*must-have:* : 1
20-30 : 1
stock : 1
photos : 2
5-10 : 1
(15-30 : 1
seconds : 1
each) : 1
logo : 1
pack : 1
(for : 1
carousels) : 1
templates : 2
(instagram : 1
reels) : 1
creation:* : 1
7-10 : 1
*before : 1
launch:* : 1
*technical : 1
setup:* : 1
[ : 22
] : 22
manager : 2
page : 1
verified : 1
connected : 1
pixel : 1
installed : 1
payment : 1
added : 1
configured : 1
(10-15km : 1
radius) : 1
preparation:* : 1
creatives : 1
(6-8 : 1
variations) : 1
saved : 1
protocol : 2
taken : 1
collected : 1
text) : 1
*team : 1
readiness:* : 1
briefed : 1
offers : 1
established : 1
(5 : 1
minutes) : 1
greeting : 1
process : 1
standardized : 1
system : 2
place : 1
follow-up : 1
procedures : 1
documented : 1
*measurement:* : 1
sheet : 1
created : 1
cost-per-lead : 1
metrics : 1
defined : 1
review : 1
(every : 1
monday : 2
am) : 1
conclusion : 1
designed : 1
systematically : 1
generate : 1
focused : 1
geo-targeted : 1
depends : 1
*precision : 1
targeting* : 1
(right : 1
right : 2
time) : 1
response* : 1
(5-minute : 1
rule : 1
inquiries) : 1
approach* : 1
(no : 1
add-ons) : 1
execution* : 1
(daily : 1
optimization) : 1
touch* : 1
(human : 1
connections : 1
automation) : 1
*start : 1
date:* : 2
*review : 1
*optimization:* : 1
continuous : 1
data : 1
outcome:* : 1
*document : 1
prepared : 1
for:* : 2
*date:* : 1
2025 : 1
*valid : 1
recurring : 1
seasonal : 1
adjustments : 1

In [ ]:
lambda arguments: expression

In [ ]:
def addition(a,b):
    return a+b

In [ ]:
addition(3,5)

In [2]:
addition= lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [3]:
even=lambda num:num%2==0
even(12)

True

In [4]:
sub=lambda a,b:a-b
sub(5,3)

2

In [8]:
import math
hyp=lambda a,b: math.sqrt(a*a + b*b)
hyp(5,3)

5.830951894845301

In [13]:
numbers=[1,2,3,4,5,6,7,8]


list(map(lambda x:x**2,numbers))   ##map uses a lazy loading

[1, 4, 9, 16, 25, 36, 49, 64]

In [15]:
def square(x):
    return x*x

In [16]:
numbers=[1,2,3,4,5,6,7,8]


list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [17]:
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [19]:
num1=[1,2,3]
num2=[4,5,6]

added_num=list(map(lambda x,y:x+y,num1,num2))
print(added_num)

[5, 7, 9]

In [20]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [21]:
def get_name(person):
    return person['name']
people=[
    {'name':'krish','age':32},
    {'name':'jack','age':33}
]

list(map(get_name,people))

['krish', 'jack']

In [1]:
def even(num):
    if num%2==0:
        return True

In [2]:
even(24)

True

In [5]:
lst=[1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [10]:
numbers=[1,2,3,4,5,6,7,8,9,10]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9, 10]

In [11]:
numbers=[1,2,3,4,5,6,7,8,9,10]
even_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_greater_than_five)

[6, 8, 10]

In [13]:
people=[
{'name':'krish','age':22},
{'name':'Bens','age':33},
{'name':'bistto','age':30}
]
def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'Bens', 'age': 33}, {'name': 'bistto', 'age': 30}]

In [1]:
import math
math.sqrt(16)

4.0

In [2]:
from math import sqrt,pi
print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [1]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [3]:
from math import *
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [4]:
from package.maths import addition
addition(2,3)

5

In [5]:
import random
print(random.randint(1,15))
print(random.choice(['apple','banana','cherry','apple']))

11
apple

In [6]:
import os
print(os.getcwd())

d:\DATA_SCIENCE\python\modules

In [7]:
os.mkdir('testdir')

In [10]:
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [11]:
## DATA serialization
import json
data={'name':'Krish','age':25}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Krish", "age": 25}
<class 'str'>
{'name': 'Krish', 'age': 25}
<class 'dict'>

In [13]:
import csv 
with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['krish',32])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['krish', '32']

In [15]:
from datetime import datetime,timedelta

now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2025-12-16 07:27:02.060467
2025-12-15 07:27:02.060467

In [16]:
##time
import time
print(time.time())
time.sleep(2)
print(time.time())

1765850405.5438492
1765850407.5448008

In [18]:
## regular
import re

pattern=r'\d+'
text='There are 123 apples 456'
match=re.search(pattern,text)
print(match.group())

123

In [ ]:
with open('exaample.txt','r') as file:
    content=file.read()
    print(content)